<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script type="text/javascript" src="script.js"></script>

<html>
<h2>Hei, oppija {{ name }}</h2>
<body>
<h1>Lukujärjestys {{ kuukauded }}</h1>
<p> {{ lukuhtml }}</p>
<p id="pois"></p>
<h1>Verkkokurssit</h1>
{{ verkkohtml }}
</body>
</html>

<script>
var poissaolo = [];
function poissa(paiva, kuu) {
    var pvm = paiva + "." + kuu;
    poissaolo.push(pvm);
    var i;
    var text = "";
    for(i = 0; i<poissaolo.length; i++) {
        text += poissaolo[i] + " ";
    }
    document.getElementById("pois").innerHTML = "Olet ilmoittanut poissaolosta: " + text;
}
</script>